/*============ Montserrat =============*/

@font-face {
  font-family: 'Montserrat ExtraBold';
  src: url('/theme/glf_git_mobile/fonts/comexposium-montserrat/Montserrat-ExtraBold.eot');
  src: url('/theme/glf_git_mobile/fonts/comexposium-montserrat/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('/theme/glf_git_mobile/fonts/comexposium-montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
    url('/theme/glf_git_mobile/fonts/comexposium-montserrat/Montserrat-ExtraBold.woff') format('woff'),
    url('/theme/glf_git_mobile/fonts/comexposium-montserrat/Montserrat-ExtraBold.ttf') format('truetype'),
    url('/theme/glf_git_mobile/fonts/comexposium-montserrat/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
  /*font-weight: 800;
  font-style: normal;*/
}

@font-face {
  font-family: 'Montserrat UltraLight';
  src: url('/theme/glf_git_mobile/fonts/comexposium-montserrat/Montserrat-UltraLight.eot');
  src: url('/theme/glf_git_mobile/fonts/comexposium-montserrat/Montserrat-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('/theme/glf_git_mobile/fonts/comexposium-montserrat/Montserrat-UltraLight.woff2') format('woff2'),
    url('/theme/glf_git_mobile/fonts/comexposium-montserrat/Montserrat-UltraLight.woff') format('woff'),
    url('/theme/glf_git_mobile/fonts/comexposium-montserrat/Montserrat-UltraLight.ttf') format('truetype'),
    url('/theme/glf_git_mobile/fonts/comexposium-montserrat/Montserrat-UltraLight.svg#Montserrat-UltraLight') format('svg');
  /*font-weight: 200;
  font-style: normal;*/
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url('/theme/glf_git_mobile/fonts/comexposium-montserrat/Montserrat-Regular.eot');
  src: url('/theme/glf_git_mobile/fonts/comexposium-montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('/theme/glf_git_mobile/fonts/comexposium-montserrat/Montserrat-Regular.woff2') format('woff2'),
    url('/theme/glf_git_mobile/fonts/comexposium-montserrat/Montserrat-Regular.woff') format('woff'),
    url('/theme/glf_git_mobile/fonts/comexposium-montserrat/Montserrat-Regular.ttf') format('truetype'),
    url('/theme/glf_git_mobile/fonts/comexposium-montserrat/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  /*font-weight: normal;
  font-style: normal;*/
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('/theme/glf_git_mobile/fonts/comexposium-montserrat/Montserrat-Bold.eot');
  src: url('/theme/glf_git_mobile/fonts/comexposium-montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    url('/theme/glf_git_mobile/fonts/comexposium-montserrat/Montserrat-Bold.woff2') format('woff2'),
    url('/theme/glf_git_mobile/fonts/comexposium-montserrat/Montserrat-Bold.woff') format('woff'),
    url('/theme/glf_git_mobile/fonts/comexposium-montserrat/Montserrat-Bold.ttf') format('truetype'),
    url('/theme/glf_git_mobile/fonts/comexposium-montserrat/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  /*font-weight: bold;
  font-style: normal;*/
}

@font-face {
  font-family: 'Montserrat Light';
  src: url('/theme/glf_git_mobile/fonts/comexposium-montserrat/Montserrat-Light.eot');
  src: url('/theme/glf_git_mobile/fonts/comexposium-montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
    url('/theme/glf_git_mobile/fonts/comexposium-montserrat/Montserrat-Light.woff2') format('woff2'),
    url('/theme/glf_git_mobile/fonts/comexposium-montserrat/Montserrat-Light.woff') format('woff'),
    url('/theme/glf_git_mobile/fonts/comexposium-montserrat/Montserrat-Light.ttf') format('truetype'),
    url('/theme/glf_git_mobile/fonts/comexposium-montserrat/Montserrat-Light.svg#Montserrat-Light') format('svg');
  /*font-weight: 300;
  font-style: normal;*/
}

/*============ Avenir =============*/

@font-face{
font-family:"Avenir Light";
src:url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix");
src:url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix") format("eot"),url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/0078f486-8e52-42c0-ad81-3c8d3d43f48e.woff2") format("woff2"),url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/908c4810-64db-4b46-bb8e-823eb41f68c0.woff") format("woff"),url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/4577388c-510f-4366-addb-8b663bcc762a.ttf") format("truetype"),url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/b0268c31-e450-4159-bfea-e0d20e2b5c0c.svg#b0268c31-e450-4159-bfea-e0d20e2b5c0c") format("svg");
}
@font-face{
font-family:"Avenir Book";
src:url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/710789a0-1557-48a1-8cec-03d52d663d74.eot?#iefix");
src:url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/710789a0-1557-48a1-8cec-03d52d663d74.eot?#iefix") format("eot"),url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/065a6b14-b2cc-446e-9428-271c570df0d9.woff2") format("woff2"),url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/65d75eb0-2601-4da5-a9a4-9ee67a470a59.woff") format("woff"),url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/c70e90bc-3c94-41dc-bf14-caa727c76301.ttf") format("truetype"),url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/0979215b-3a1b-4356-9c76-e90fa4551f1d.svg#0979215b-3a1b-4356-9c76-e90fa4551f1d") format("svg");
}
@font-face{
font-family:"Avenir BookOblique";
src:url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/d8c50fcc-bc32-4f31-8c24-b170c64e2254.eot?#iefix");
src:url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/d8c50fcc-bc32-4f31-8c24-b170c64e2254.eot?#iefix") format("eot"),url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/476612d9-282d-4f76-95cd-b4dd31e7ed21.woff2") format("woff2"),url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/f1ebae2b-5296-4244-8771-5f40e60a564a.woff") format("woff"),url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/04d1bf6c-070d-4b7e-9498-6051c9f0c349.ttf") format("truetype"),url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/d0a3e813-1257-4b66-812a-36101faa0fb3.svg#d0a3e813-1257-4b66-812a-36101faa0fb3") format("svg");
}
@font-face{
font-family:"Avenir Medium";
src:url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix");
src:url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix") format("eot"),url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/17b90ef5-b63f-457b-a981-503bb7afe3c0.woff2") format("woff2"),url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/c9aeeabd-dd65-491d-b4be-3e0db9ae47a0.woff") format("woff"),url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/25f994de-d13f-4a5d-a82b-bf925a1e054d.ttf") format("truetype"),url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/3604edbd-784e-4ca7-b978-18836469c62d.svg#3604edbd-784e-4ca7-b978-18836469c62d") format("svg");
}
@font-face{
font-family:"Avenir Heavy";
src:url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix");
src:url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix") format("eot"),url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/d513e15e-8f35-4129-ad05-481815e52625.woff2") format("woff2"),url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/61bd362e-7162-46bd-b67e-28f366c4afbe.woff") format("woff"),url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b.ttf") format("truetype"),url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/20577853-40a7-4ada-a3fb-dd6e9392f401.svg#20577853-40a7-4ada-a3fb-dd6e9392f401") format("svg");
}
@font-face{
font-family:"Avenir Black";
src:url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/f55e4498-ad48-4577-93a0-c614de5cbbb8.eot?#iefix");
src:url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/f55e4498-ad48-4577-93a0-c614de5cbbb8.eot?#iefix") format("eot"),url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/c78eb7af-a1c8-4892-974b-52379646fef4.woff2") format("woff2"),url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/75b36c58-2a02-4057-a537-09af0832ae46.woff") format("woff"),url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/b5c44a82-eeb8-41de-9c3f-a8db50b24b8a.ttf") format("truetype"),url("/theme/glf_git_mobile/fonts/comexposium-avenir/Fonts/93603a74-2be0-436c-83e1-68f9ef616eaf.svg#93603a74-2be0-436c-83e1-68f9ef616eaf") format("svg");
}
